.row-padding{
    padding: 0;
    margin:0;
}
..row-padding button{
    width: 70px;
}
.item-product{
    position: relative;
    margin-bottom:20px;
}
.detail-product{
    display: none;
    position: fixed;
    height: 300px;
    width: 400px;
    border: 1px solid #b19696;
    top:10%;
    left: 40%;
    z-index: 9999;
    background: rgba(21, 23, 18, 0.81);
    padding:10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(118, 124, 165, 0.56);
    cursor: pointer;
    color:#fff;
}

.btn-detail-product{
    cursor: pointer;
}