#product-view{
    height: 100%;
    width: 100%;
}
.product-view-detail a{
    color:white;
}
.detail-cus{
    height: 50px;
    width: 50px;
}
.order-detail{
    background: #fff;
    margin:0;
    padding:0;
    width: 100%;
    height: 30px;
}
.order-detail div {
    text-align: left;
    height: 100%;
}
.detail-th{
    border-bottom:1px solid #333; 
}
.detail-th div{
    font-weight: bold;
    font-size: 16px;
}
.order-detail div button{
    height: 80%;
    width: 30px;
    padding: 1px
}
.order-detail div a{
    color:white;
}
.detail-customer{
    margin:0 ;
    height:100px;
    display: none;
}
.tbl-detail-customer th{
    width:10%;
}
.tbl-detail-customer tr th:nth-child(2){
     width: 15%;
}
.tbl-detail-customer tr th:nth-child(4){
     width: 55%;
}
#product-view .accept{
     background: transparent;
     border: none;
}
#product-view button[alt="1"].accept-book{
    background: #b8d8ca;
    cursor: default;
    border:none;
}
#product-view button[alt="1"].accept-book:hover{
    background: #b8d8ca;
}
.alert-accept{
    display: none;
}

