.edit-promotion, .create-promotion{
	width: 100%;
}
.view-detail{
	color: #3c8dbc !important;
}
.promotion{
	box-shadow: 10px 10px 5px 2px #888888;
}
.promotion thead{
	background-color: #3c8dbc;
}
.upload-image{
	padding: 0 15px 0 15px;
}
.img-promotion{
	max-width: 150px;
	max-height: 150px;
	overflow: hidden;
}
#carousel-example-generic .item{
	max-height: 500px;
	overflow: hidden;
}
.detail-promotion{
	margin-bottom: 20px;
}
.sale{
	font-weight: bold;
	color: red;
}