#logout {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 1px;
  color: #666666;
  background-color: #f4f4f4;
}

#logout:hover{
  background-color: #e7e7e7;
  border-color: #adadad;
  outline: none;
}

.avatar{
  width:100px;
  height:100px;
  display:block;
  margin-bottom:20px;
}
.product-index form{
  display: inline;
}
#product-up{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.product-index button{
  width:25px;
  height: :25px;
  padding: 1px;
}
img.update-img{
  width: 20%;
  height: 20%;
  margin-top: 10px; 
  margin-bottom: 10px; 
  display: block;
}
#product-up .lbl-img{
  vertical-align: top;
}
.product-index{
  height: 70%;
  width: 100%;
}
.product-index tr{
  height: 50px;
}
.product-img{
  height: 20%;
  width: 20%;
}
.product-img img{
  width: 50%;
  height:auto;
}
.product-index a{
  color:none;
  color:white;
}
.user-left{
  float:left;
  width:45%;
  padding-left:10px;
}
.user-right{
  float:right;
  width:45%;
}
.list-promotion{
  width: 100%;
}


.form-register-business input[type="checkbox"] {
  display: none;
}

.form-register-business input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-register-business input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-register-business input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;   
}

.form-register-business input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
  line-height: 20px;
}
.form-register-business input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;   
}
.tr-top{
  background: rgba(47, 156, 206, 0.84);
}
.h2-title{
  text-transform: uppercase;
  text-align: center;
}


