#order-user{
    width: 100%;
}
#order-user table td img{
    width: 100px;
    height: auto;
}
#order-user .container{
    width: 100%;
}
#order-user table th:nth-child(7),th:nth-child(1),th:nth-child(4){
    width: 5%;
}
.form-delete-user-order{
    display: inline;
}
